<?xml version="1.0"?>
<!--
/**
 * InfiniteScroll2 - Magento Integration
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0),
 * available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @category   Strategery
 * @package    Strategery_Infinitescroll2	   
 * @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 * @copyright  Copyright (c) 2011 Strategery Inc. (http://usestrategery.com)
 * 
 * @author     Gabriel Somoza (me@gabrielsomoza.com)
 * @link       http://gabrielsomoza.com/
 * 
 * Update 2.0.0
 * @author     Damian A. Pastorini (admin@dwdesigner.com)
 * @link       http://www.dwdesigner.com/
 */
-->
<config>
    <modules>
        <Strategery_Infinitescroll2>
            <version>2.1.7</version>
        </Strategery_Infinitescroll2>
    </modules>
    <global>
        <helpers>
            <infinitescroll2>
                <class>Strategery_Infinitescroll2_Helper</class>
            </infinitescroll2>
        </helpers>
        <models>
            <infinitescroll2>
                <class>Strategery_Infinitescroll2_Model</class>
            </infinitescroll2>
        </models>
        <blocks>
            <infinitescroll2>
                <class>Strategery_Infinitescroll2_Block</class>
            </infinitescroll2>
        </blocks>        
		<events>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <infinitescroll2_save_observer>
						<type>singleton</type>
						<class>Strategery_Infinitescroll2_Model_Catalog_Observer</class>
						<method>refreshCache</method>
                    </infinitescroll2_save_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
		</events>
    </global>
    <frontend>
        <routers>
            <infinitescroll2>
                <use>standard</use>
                <args>
                    <module>Strategery_Infinitescroll2</module>
                    <frontName>infinitescroll2</frontName>
                </args>
            </infinitescroll2>
        </routers>
        <layout>
            <updates>
                <infinitescroll2>
                    <file>strategery-infinitescroll2.xml</file>
                </infinitescroll2>
            </updates>
        </layout>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <infinitescroll2_catalog_observer>
                        <type>singleton</type>
                        <class>Strategery_Infinitescroll2_Model_Catalog_Observer</class>
                        <method>modifyCollection</method>
                    </infinitescroll2_catalog_observer>
                </observers>
            </catalog_product_collection_load_before>
            <catalog_product_collection_load_after>
                <observers>
                    <infinitescroll2_catalog_observer>
                        <type>singleton</type>
                        <class>Strategery_Infinitescroll2_Model_Catalog_Observer</class>
                        <method>restoreCollection</method>
                    </infinitescroll2_catalog_observer>
                </observers>
            </catalog_product_collection_load_after>
        </events>
    </frontend>
    <default>
        <infinitescroll2>
            <general>
                <enabled>1</enabled>
                <debug>0</debug>
            </general>
            <instances>
                <grid>1</grid>
                <layer>1</layer>
                <search>1</search>
                <advanced>1</advanced>
            </instances>
            <cache>
                <enabled>0</enabled>
            </cache>
            <selectors>
                <content>div.category-products</content>
                <navigation>div.toolbar:last</navigation>
                <next>div.pages a.next:first</next>
                <items>ul.products-grid</items>
                <loading>div.category-products</loading>
            </selectors>
            <design>
                <loading_img>http://www.infinite-scroll.com/loading.gif</loading_img>
                <loading_text><![CDATA[<em>Loading the next set of posts...</em>]]></loading_text>
                <done_text><![CDATA[<em>Congratulations, you've reached the end of the internet.</em>]]></done_text>
				<hide_toolbar>1</hide_toolbar>
                <animate>0</animate>
                <local_mode>0</local_mode>
                <extra_scroll_px>150</extra_scroll_px>
                <buffer_px>150</buffer_px>
            </design>
            <memory>
                <enabled>1</enabled>
                <each_page>0</each_page>
                <each_page>30</each_page>
            </memory>
            <callbacks>
                <processed_callback><![CDATA[ function(elements){ decorateGeneric($$('ul.products-grid'), ['odd','even','first','last']); } ]]></processed_callback>
            </callbacks>
        </infinitescroll2>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <infinitescroll2 translate="title" module="infinitescroll2">
                                            <title>Infinite Scroll</title>
                                            <sort_order>50</sort_order>
                                        </infinitescroll2>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
