<?xml version="1.0"?>
<!--
/**
 * Strategery InfiniteScroll2 - Magento 2 Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0),
 * available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 * @copyright  Copyright (c) 2016 Strategery Inc. (http://www.strategery.io/)
 * @author     Damian A. Pastorini (damian.pastorini@dwdeveloper.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="strategery_infinitescroll2" translate="label" sortOrder="90000">
            <label>Strategery</label>
        </tab>
        <section id="strategery_infinitescroll2" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>InfiniteScroll2</label>
            <tab>strategery_infinitescroll2</tab>
            <resource>Strategery_Infinitescroll2::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="2" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="instances" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Instances</label>
                <field id="grid" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Use in Grid/List mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="layer" translate="label" type="select" sortOrder="2" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Use in Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="search" translate="label" type="select" sortOrder="3" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="advanced" translate="label" type="select" sortOrder="4" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Use in Advanced Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="selectors" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Selectors</label>
                <field id="content" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Content</label>
                    <comment>Selector for the element that surrounds the items you will be loading more of.</comment>
                </field>
                <field id="toolbar" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Toolbar</label>
                    <comment>Selector for the toolbar (normally pagination, sort-by and display type are inside here)</comment>
                </field>
                <field id="pagination" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pagination</label>
                    <comment>Selector for pagination</comment>
                </field>
                <field id="next" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Next</label>
                    <comment>Selector for the link to the next page.</comment>
                </field>
                <field id="previous" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Previous</label>
                    <comment>Selector for the link to the previous page.</comment>
                </field>
                <field id="items_grid" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items (grid mode)</label>
                    <comment>Selector for all items you'll retrieve.</comment>
                </field>
                <field id="items_list" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Items (list mode)</label>
                    <comment>Selector for all items you'll retrieve.</comment>
                </field>
            </group>
            <group id="design" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Design</label>
                <field id="loading_img" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Loading Image</label>
                    <comment>Use absolute URL or relative path to skin path. Leave empty for default.</comment>
                </field>
                <field id="loading_text" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Loading Text</label>
                </field>
                <field id="done_text" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Done Text</label>
                </field>
                <field id="extra_scroll_px" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Extra Scroll (px)</label>
                    <validate>validate-digits</validate>
                    <comment>Number of pixels the page will scroll in addition to the height of the loaded DIV. Animate must be 'yes' in order for this to take effect.</comment>
                </field>
                <field id="hide_toolbar" translate="label" type="select" sortOrder="5" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Hide Toolbar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="advanced" translate="label" type="select" sortOrder="6" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Use in Advanced Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Make sure you have the right css selector for the toolbar</comment>
                </field>
                <field id="local_mode" translate="label" type="select" sortOrder="7" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Local Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Instead of watching the entire window scrolling, watch only the element this plugin was called on (set in Selectors->Content).</comment>
                </field>
                <field id="buffer_px" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Buffer (px)</label>
                    <validate>validate-digits</validate>
                    <comment>Set an offset before page end from which the content will start to load. A high number will load the next page a long time before the user reaches the bottom of the screen.</comment>
                </field>
                <field id="load_more_threshold" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Load More Threshold</label>
                    <validate>validate-digits</validate>
                    <comment>When this page number is reached, a button to load more products will be shown instead of continue loading products automatically with the scroll (this could be useful to help the user to reach the footer). TIP: use a high number to disable this feature.</comment>
                </field>
                <field id="load_more_text" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Load More Button Text</label>
                </field>
                <field id="load_more_text_prev" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Load Previous button text</label>
                </field>
            </group>
            <group id="memory" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Scroll History</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable History</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This feature automatically uploads the browser URL with the location of the page the user is watching. This allows users to use the "Back" browser button after viewing a product to return directly to the page where they left off.</comment>
                </field>
            </group>
            <group id="advanced" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced</label>
                <field id="ias_config" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Custom IAS Config</label>
                    <comment>Path to custom js file relative to the skin path. This js file must declare: window.ias_config = { /* your custom settings for IAS here */ };. For details about the custom options see: https://github.com/webcreate/infinite-ajax-scroll</comment>
                    <tooltip>Example: js/ias_config.js</tooltip>
                </field>
            </group>
        </section>
    </system>
</config>
