<?xml version="1.0"?>
<!--
/**
 * InfiniteScroll - Magento Integration
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0),
 * available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @category   Strategery
 * @package    Strategery_Infinitescroll	   
 * @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 * @copyright  Copyright (c) 2011 Strategery Inc. (http://usestrategery.com)
 * 
 * @author     Gabriel Somoza (me@gabrielsomoza.com)
 * @link       http://gabrielsomoza.com/
 */
-->
<config>
    <modules>
        <Strategery_Infinitescroll>
            <version>2.0</version>
        </Strategery_Infinitescroll>
    </modules>
    <global>
        <helpers>
            <infinitescroll>
                <class>Strategery_Infinitescroll_Helper</class>
            </infinitescroll>
        </helpers>
    </global>
    <frontend>
        <routers>
            <infinitescroll>
                <use>standard</use>
                <args>
                    <module>Strategery_Infinitescroll</module>
                    <frontName>infinitescroll</frontName>
                </args>
            </infinitescroll>
        </routers>
        <layout>
            <updates>
                <infinitescroll>
                    <file>strategery-infinitescroll.xml</file>
                </infinitescroll>
            </updates>
        </layout>
    </frontend>
    <default>
        <infinitescroll>
            <general>
                <enabled>1</enabled>
                <debug>0</debug>
            </general>
            <selectors>
                <content>div.category-products</content>
                <navigation>div.toolbar:last</navigation>
                <next>div.pages a.next:first</next>
                <items>ul.products-grid</items>
                <loading>div.category-products</loading>
            </selectors>
            <design>
                <loading_img>http://www.infinite-scroll.com/loading.gif</loading_img>
                <loading_text><![CDATA[<em>Loading the next set of posts...</em>]]></loading_text>
                <done_text><![CDATA[<em>Congratulations, you've reached the end of the internet.</em>]]></done_text>
                <animate>0</animate>
                <local_mode>0</local_mode>
                <extra_scroll_px>150</extra_scroll_px>
                <buffer_px>150</buffer_px>
            </design>
            <callbacks>
                <processed_callback><![CDATA[function(elements){decorateGeneric($$('ul.products-grid'),['odd','even','first','last']);}]]></processed_callback>
            </callbacks>
        </infinitescroll>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <infinitescroll translate="title" module="infinitescroll">
                                            <title>Infinite Scroll</title>
                                            <sort_order>50</sort_order>
                                        </infinitescroll>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>